@phone:  ~"only screen and (min-width: 0px) and (max-width: 767px)";
@tablet:    ~"only screen and (min-width: 768px)";
@desktop:   ~"only screen and (min-width: 992px)";
@large-desktop:   ~"only screen and (min-width: 1200)";


@import 'base/variables';

@import 'base/normalize';
@import 'base/global';
@import 'base/mixins';


body {
	background-color: @primary;
	font-size: 16px;
	margin: 0;
}

.wrap {
	border: 10px solid @primary;
	height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	position: absolute;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.mobile-hero {
	background: url(../src/images/posted-up-in-the-club.jpg);
	height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.desktop-hero {
	height: 60vh;
	@media @tablet {
		background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.1) 50%), url(../src/images/posted-up-in-the-club.jpg);
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 25% 63%
	}

}

.social {
	position: absolute;	
	text-align: center;
	bottom: 40px;
	right: 0;
	left: 0;
	a {
		color: @gray;
		padding: 0px 10%;
		font-size: 22px;
		.transition;
		&:hover {
			color: lighten(@gray, 20%);
		}
	}
	@media @tablet {
		text-align: left;
	}
}

.joe {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 120px;
	margin-bottom: 20px;
	padding: 20px;
}

.mobile-hero {
	width: 100%;
}

.contain {
	max-width: 500px;
	margin: 0 auto;
	@media @tablet {
		margin: 0 20px;
	}
}
.content {
	padding: 20px;
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	.content-wrap {
		h1 {
			color: @gray;
			.prox-light;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.5em;
			letter-spacing: 15px;
			line-height: 44px;
			@media @tablet {
				text-align: left;
				font-size: 3.5em;
				letter-spacing: 20px;
				line-height: 65px;
			}
		}
		p {
			color: @orange;
			.prox-light;
			font-size: 1em;
			line-height: 1.5em;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 5px;
			@media @tablet {
				text-align: left;
			}
		}
		h4 {
			.prox-light;
			color: fade(@gray, 50%);
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}
}




// DELAYS

.one {
	animation-delay: .5s;
	animation-duration: 1s;
}

.two {
	animation-delay: 1s;
	animation-duration: 2s;
}

.three {
	animation-delay: 3s;
	animation-duration: 5s;
}




