@phone:  ~"only screen and (min-width: 0px) and (max-width: 767px)";
@tablet:    ~"only screen and (min-width: 768px)";
@desktop:   ~"only screen and (min-width: 992px)";
@large-desktop:   ~"only screen and (min-width: 1200)";


@import 'base/variables';

@import 'base/normalize';
@import 'base/global';
@import 'base/mixins';


html { font-size: 62.5%; } 




body {
	background-color: rgba(0, 0, 0, 0.9);
	// overflow: hidden;
	margin: 0;
	.prox-light;
	font-size: 14px;
	font-size: 1.4rem;
}

h1   { font-size: 24px; font-size: 2.4rem; } /* =24px */

.toggle {
	position: absolute;
	z-index: 5;
	transition: all 1s cubic-bezier(.1,1.01,.5,1);
	opacity: 0;
	visibility: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
	right: 0;
	p {
		color: @orange;
		text-transform: uppercase;
		letter-spacing: 10px;
		font-size: .8em;
	}
	.works {
		opacity: 0;
		transform: opacity 3s ease;
		z-index: 20;
		transition: all 1s cubic-bezier(.1,1.01,.5,1);
		height: 50px;
		position: absolute;
		width: 100%;
		p {
			position: absolute;
			right: 0;
			left: 0;
			top: 18px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.close-work {
	padding: 20px 0px;
    background-color: @orange;

    p {
    	color: #fff;
    	transition: all .3s ease-in-out;
    }
    &:hover {
    	cursor: pointer;
    	p {
    		letter-spacing: 5px;
    	}
    }
}

.down .toggle {
	background-color: rgba(0, 0, 0, 0.8);
	// background: linear-gradient(to left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.1) 100%);
	opacity: 1;
	visibility: visible;
	.works {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 2s;
	}
}

.down .wrap {
	opacity: .2;
}


.work-group {
	margin: 0 auto;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	width: 100%;
	.work-items {
		// padding-left: 30px;
		margin: 0 auto;
		// max-width: 800px;
		display: flex;
	    flex-direction: column;
	    a.item {
			padding: 25px 0px;
			padding-left: 30px;
			width: 100%;
			color: #eee;
			.transition;
			text-decoration: none;
			text-align: left;
			h3 {
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: .2rem;
				text-transform: uppercase;
			}
			img {
				.transition;
				display: block;
				// display: none;
				width: 50px;
				margin-bottom: 10px;
				filter: grayscale(100%);
			}
			&:hover {
				cursor: pointer!important;
				color: @orange;
				background-color: rgba(0, 0, 0, 0.5);
				img {
					filter: grayscale(0%);
				}
			}
		}
	}



}

.wrap {
	border: 10px solid @primary;
	transition: all 1s cubic-bezier(.1,1.01,.5,1);
	height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	position: absolute;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	transform: translateX(0%);
}

.mobile-hero {
	background: url(../src/images/posted-up-in-the-club.jpg);
	height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.desktop-hero {
	height: 60vh;
	background-color: @primary;
	@media @tablet {
		background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.1) 50%), url(../images/posted-up-in-the-club.jpg);
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 25% 63%
	}
}

.social {
	position: absolute;	
	text-align: center;
	bottom: 20px;
	right: 0;
	left: 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	@media @tablet {
		justify-content: flex-start;
	}
	a {
		color: @gray;
		font-size: 22px;
		.transition;
		@media @tablet {
			padding-right: 20%;
		}
		&:hover {
			color: lighten(@gray, 80%);
		}
	}
	@media @tablet {
		text-align: left;
	}
}

.joe {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 120px;
	margin-bottom: 20px;
	padding: 20px;
}

.mobile-hero {
	width: 100%;
}

.contain {
	max-width: 500px;
	margin: 0 auto;
	@media @tablet {
		margin: 0 20px;
	}
}
.content {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	.content-wrap {
		h1 {
			color: @gray;
			.prox-light;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.1rem;
			letter-spacing: 15px;
			line-height: 44px;
			@media @tablet {
				text-align: left;
				font-size: 4.9rem;
				letter-spacing: 20px;
				line-height: 65px;
			}
		}
		p {
			color: @orange;
			.prox-light;
			font-size: 1em;
			line-height: 1.5em;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 5px;
			@media @tablet {
				text-align: left;
			}
		}
		h4 {
			.prox-light;
			color: @orange;
			text-transform: uppercase;
			letter-spacing: 5px;
			border: 1px solid @orange;
			display: inline-block;
			padding: 12px 35px;
			border-radius: 3px;
			.transition;
			&:hover {
				background-color: fade(@orange, 10%);
			}
		}
	}
}

.works:hover {
	cursor: pointer;
}


// DELAYS

.one {
	animation-delay: .5s;
	animation-duration: 1s;
}

.two {
	animation-delay: 1s;
	animation-duration: 2s;
}

.three {
	animation-delay: 1.3s;
	animation-duration: 5s;
}




